/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --link-color:#F1B2CE;
  --shadow-color:#ff0070;
  --header-color:#DB00FF;
  --bg-color:#000028;
  --text-color:#F1B2CE;
  --button-color:#FF0070;
  --header-background-image: url("/images/cover-image-dark.png");
  --button-color-transorent: rgba(255, 0, 122, 0.4);
  
/*
  --page-bg-color: #000028;
  --header-background-image: url("/images/cover-image-dark.png");
  --button-color: #ff0070;
  --button-color-transorent: rgba(255, 0, 122, 0.4);
  --section-title-color: var(--button-color);
  --card-content-text-color: #f1b2ce;*/
}

.page.theme_dark > * .only-dark {
  display: inline-block;
  color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --link-color:#F1B2CE;
    --shadow-color:#ff0070;
    --header-color:#DB00FF;
    --bg-color:#000028;
    --card-text-color:#ff0070;
    --text-color:#F1B2CE;
    --button-color:#FF0070;
    --header-background-image: url("/images/cover-image-dark.png");
    --button-color-transorent: rgba(255, 0, 122, 0.4);
  }
  .only-dark {
    display: inline-block;
    color: #ff0070;
  }
}
/*
.page.theme_dark > * .header__theme-menu-button {
  border-radius: 0px;
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: #ff0070;
}

.page.theme_dark > * .header__theme-menu-button_active {
  border: 1px solid #ff0070;
}*/
